Resources/src/main/java/META-INF/resources/hi-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hi.co.mz/XMLSchema"
    xmlns:hi="http://hi.co.mz/XMLSchema" elementFormDefault="qualified">

    <xsd:complexType name="webType">
        <xsd:all maxOccurs="1" minOccurs="1">
            <xsd:element type="xsd:string" name="views-directory" nillable="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element type="xsd:string" name="welcome-url" nillable="false" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element type="hi:templatesType" name="templates" nillable="false" minOccurs="1" maxOccurs="1"></xsd:element>

        </xsd:all>
    </xsd:complexType>


    <xsd:complexType name="usersType">
        <xsd:all>
            <xsd:element type="xsd:string" name="details-provider-class" nillable="false" minOccurs="1" maxOccurs="1"></xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="templatesType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="template" type="xsd:string" nillable="false" default="index" minOccurs="1" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="frontiersType">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="frontier" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:simpleType name="frontierPackageType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="frontierPackagesType">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="package" type="hi:frontierPackageType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:simpleType name="textType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="simpleTextType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"></xsd:minLength>
            <xsd:pattern value="[A-Za-z0-9]+"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ageUnitsType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HOURS"></xsd:enumeration>
            <xsd:enumeration value="DAYS"></xsd:enumeration>
            <xsd:enumeration value="WEEKS"></xsd:enumeration>
            <xsd:enumeration value="MONTHS"></xsd:enumeration>
            <xsd:enumeration value="YEARS"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ageType">
        <xsd:restriction base="xsd:integer">
           <xsd:minInclusive value="1"></xsd:minInclusive>
        </xsd:restriction>
    </xsd:simpleType>




    <xsd:simpleType name="testTestType">
        <xsd:restriction base="hi:textType">
            <xsd:minLength value="4"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>




    <xsd:complexType name="testsType">

        <xsd:sequence>
            <xsd:element type="hi:testTestType" minOccurs="1" maxOccurs="unbounded" name="script"></xsd:element>
        </xsd:sequence>

    </xsd:complexType>


    <xsd:simpleType name="appModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DEVELOPMENT"></xsd:enumeration>
            <xsd:enumeration value="PRODUCTION"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="assetSmartCachingEnabled" >
        <xsd:restriction base="xsd:anyURI">
            <xsd:minLength value="8"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="smartCachingType">
        <xsd:sequence>
            <xsd:element type="hi:assetSmartCachingEnabled" minOccurs="1" maxOccurs="unbounded"  name="enabled"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="folderHttpCacheType">
        <xsd:attribute use="required" name="age-unit" type="hi:ageUnitsType"></xsd:attribute>
        <xsd:attribute use="required" name="age" type="hi:ageType"></xsd:attribute>
        <xsd:attribute use="required" name="folder-name" type="xsd:anyURI"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="foldersCachingType" >
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" type="hi:folderHttpCacheType" name="enabled"></xsd:element>
        </xsd:sequence>

    </xsd:complexType>

    <xsd:complexType name="webrootType">
        <xsd:all>
            <xsd:element name="folders-fixed-caching" type="hi:foldersCachingType" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="assets-smart-caching" type="hi:smartCachingType" minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="tunningType" >
        <xsd:sequence>
            <xsd:element name="webroot" nillable="false" type="hi:webrootType" minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="appType">
        <xsd:all>
            <xsd:element type="xsd:string" name="default-lang" nillable="false" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element type="hi:appModeType" name="deployment-mode" nillable="false" maxOccurs="1" minOccurs="0" ></xsd:element>
            <xsd:element type="hi:webType" name="web" minOccurs="1" nillable="false" maxOccurs="1"></xsd:element>
            <xsd:element type="hi:usersType" name="users" minOccurs="0" maxOccurs="1" nillable="false"></xsd:element>
            <xsd:element type="hi:frontierPackagesType" name="frontier-packages" nillable="false" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element type="hi:tunningType" name="web-tunning" nillable="false" minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="app" type="hi:appType" nillable="false"></xsd:element>
</xsd:schema>