Resources/src/main/java/META-INF/resources/yayee-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://yayee.co.mz/xml"
    xmlns:ya="http://yayee.co.mz/xml" elementFormDefault="qualified">

    <xsd:complexType name="mvcType">
        <xsd:all maxOccurs="1" minOccurs="1">
            <xsd:element type="xsd:string" name="controllers-package" nillable="false" minOccurs="1" maxOccurs="1"></xsd:element>
            <xsd:element type="xsd:string" name="views-directory" nillable="false" minOccurs="1" maxOccurs="1"/>
            <xsd:element type="xsd:string" name="welcome-url" nillable="false" minOccurs="1" maxOccurs="1"></xsd:element>

        </xsd:all>
    </xsd:complexType>


    <xsd:complexType name="usersType">
        <xsd:all>
            <xsd:element type="xsd:string" name="user-details-provider-class" nillable="false" minOccurs="1" maxOccurs="1"></xsd:element>
            <xsd:element type="xsd:string" name="rooms-assigner-class" nillable="false" minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="templatesType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="template" type="xsd:string" nillable="false" default="index" minOccurs="1" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="frontiersType">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="frontier" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="textType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="simpleTextType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"></xsd:minLength>
            <xsd:pattern value="[A-Za-z0-9]+"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ageUnitsType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HOURS"></xsd:enumeration>
            <xsd:enumeration value="DAYS"></xsd:enumeration>
            <xsd:enumeration value="WEEKS"></xsd:enumeration>
            <xsd:enumeration value="MONTHS"></xsd:enumeration>
            <xsd:enumeration value="YEARS"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ageType">
        <xsd:restriction base="xsd:integer">
           <xsd:minInclusive value="1"></xsd:minInclusive>
        </xsd:restriction>
    </xsd:simpleType>



    <xsd:complexType name="folderHttpCacheType">
        <xsd:attribute use="required" name="age-unit" type="ya:ageUnitsType"></xsd:attribute>
        <xsd:attribute use="required" name="age" type="ya:ageType"></xsd:attribute>
        <xsd:attribute use="required" name="folder-name" type="ya:simpleTextType"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="webrootType">
        <xsd:sequence>
            <xsd:element name="folder-http-cache" type="ya:folderHttpCacheType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tunningType" >
        <xsd:sequence>
            <xsd:element name="webroot" type="ya:webrootType" minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="appType">
        <xsd:sequence maxOccurs="1" minOccurs="1">
            <xsd:element type="ya:mvcType" name="mvc" minOccurs="1" nillable="false" maxOccurs="1"></xsd:element>
            <xsd:element type="ya:templatesType" name="templates" nillable="false" minOccurs="1" maxOccurs="1"></xsd:element>
            <xsd:element type="ya:usersType" name="users" minOccurs="0" maxOccurs="1" nillable="false"></xsd:element>
            <xsd:element type="ya:frontiersType" name="frontiers" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element type="ya:tunningType" name="tunning" minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="app" type="ya:appType" nillable="false"></xsd:element>
</xsd:schema>